@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

button {
    display: flex;
    height: 32px;
    width: 64px;
    background-color: whitesmoke;
    border-radius: 0.4rem;
    color: black;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    /* Add a transition effect to the background-color property */
}